@using Exam21.Core.Models;
@model Portfolio

<form method="post" enctype="multipart/form-data">
@*     <div class="form-group">
        <label>ImageFile</label>
        <input asp-for ="ImageFile" class="form-control">
        <span class="text-danger" asp-validation-for="ImageFile"></span>
    </div> *@
    <div class="form-group">
        <label >Title</label>
        <input asp-for ="Title" class="form-control">
        <span class="text-danger" asp-validation-for=" Title"></span>
    </div>
    <div class="form-group">
        <label >Description</label>
        <input asp-for="Description" class="form-control">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>